/* место для вашего кода */
.overlay {
  box-sizing: border-box;
  max-width: 1440px;
  margin: auto;
}

.header{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 92px 50px; 
  font-size: 18px;
  max-width: 1440px;
  margin: auto;
  align-items: center;
}

.header_menu-list {
  display: flex;
  flex-direction: row;
  list-style: circle;
  gap: 13px;
}

.header_menu-item_active{
  list-style: none;
}

.header_menu-item_info {
  margin-left: 40px;
  text-underline-offset: 4px;
}

.header_logo {
  display: block;
  width: 148px;
  height: 105px;
  justify-self: center;
}

.address {
  display: flex;
  flex-direction: column;
  text-underline-offset: 4px;
  font-style: normal;
}

.header_address {
  margin: auto 0px auto auto;
}

.cover{
  position: relative;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.cover::before,
.card_type_film::before,
.card_type_book::before,
.card_type_picture::before {
  content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .6);
  z-index: -1;
}

.cover_title {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 165px 50px;
  color: #FFF;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
  gap: 20px;
  text-transform: uppercase;
}

.accent-span{
  display: block;
}

.text-left {
  line-height: 115%;
}

.text-center {
  text-align: center;
  line-height: 100%;
}

.text-right {
  text-align: right;
  line-height: 100%;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover_description {
  text-align: right;
}

.cover_description-text {
  display: inline-block;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 17px;
  font-weight: 400;
}

.bet-button {
  display: inline-block;
  font-size: 22px;
  width: 257px;
  height: 52px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 78px;
  color: #fff;
  border: 1px solid #fff;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0);
}

.lots {
  padding:180px 50px 0px 50px;
}

.lots_heading {
  display: block;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 40px;
  padding-bottom: 27px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 25px;
}

.card_images {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
  width: 430px;
  min-height: 450px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card_title {
  text-decoration: underline;
  color: #FFF;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 50px 40px 0;
}

.card_text {
  display: flex;
  justify-content: end;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  font-weight: 400;
  line-height: 120%;
  margin: auto 40px 50px;
}

.lots_more {
  display: block;
  padding-top: 30px;
  padding-left: 40px;
  font-size: 20px;
  color: #000;
  font-weight: 400;
}

.about {
  display: block;
}

.about_column {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 25px;
  padding: 181px 50px 0 50px;
}

.about_logo {
  display: flex;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  justify-self: center;
  align-items: center;
  justify-content: center;
}

.about_logo-image{
  width: 148px;
  height: 114px;
}

.about_card {
  padding-top: 100px;
}

.about_title {
  color: #000;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 75px;
}

.about_text {
  color: #000;
  font-size: 20px;
  text-decoration: none;
  font-weight: 400;
  line-height: 120%;
  padding-top: 25px;
}

.footer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 180px 50px 90px 50px; 
  font-size: 18px;
}

.footer_menu-link {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-self: center;
}

.footer_menu-link_active{
  list-style: none;
  text-align: center;
}

.footer_menu-item_info {
  text-underline-offset: 4px;
  text-align: center;
}

.footer_logo {
  display: flex;
  flex-direction: row;
  gap: 48px;
  min-width: 240px;
  justify-self: right;
}
